<section fxLayout="column"
         fxLayoutAlign="center center"
         class="container"
         [style.height.%]="100">
  <section>
    <img src="assets/portfolio.jpg"
         class="static-elevation"
         [style.border-radius.%]="50">
  </section>
  <p class="mat-headline">Jaime Still</p>
  <p class="mat-title">Fullstack Software Engineer</p>
  <section fxLayout="row | wrap"
           fxLayoutAlign="space-evenly center"
           fxLayoutGap="8px">
    <a mat-stroked-button
       color="primary"
       href="https://github.com/JaimeStill"
       target="_blank">GitHub</a>
    <a mat-stroked-button
       color="primary"
       href="https://stackblitz.com/@JaimeStill"
       target="_blank">StackBlitz</a>
    <a mat-stroked-button
       color="primary"
       href="https://gist.github.com/JaimeStill"
       target="_blank">Gists</a>
    <a mat-stroked-button
       color="primary"
       href="https://www.linkedin.com/in/jaime-still/"
       target="_blank">LinkedIn</a>
  </section>
</section>
